[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "==2.1.2"
apache-airflow-providers-docker = "==2.1.1"

[dev-packages]

[requires]
python_version = "3.8"
